<div class="row">
  <%= form_for [@current_user, @profile], html: {class: 'col-md-7'} do |f| %>
    <div class="form-group">
      <%= f.label [t('profile.first_name')].join, class: 'h4' %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label [t('profile.last_name'), ':'].join, class: 'h4' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit t('profile.save'), class: 'btn btn-default pull-right' %>
    </div>
  <% end %>
<div>

