<div class='row'>
  <section class='col-md-3'>
    <div id='profile-info' class="col-md-12 bg-white m-t dft-border">
      <div id='profile-image'>
        <img src='<%= @profile.image_url %>'>
      </div>

      <div>
        <% if @profile.name %>
          <h3><%= @profile.name %></h3>
          <hr>
        <% end %>

        <% if @profile.description %>
          <strong>About me:</strong>
          <p><%= @profile.description %></p>
          <hr>
        <% end %>

        <% if @profile.location %>
          <p><strong>Lives in:</strong> <%= @profile.location %></p>
        <% end %>
      </div>

      <div id="friend-request-div">
        <% if @current_user %>
          <% if @current_user.sent_requests.include?(@profile.user) %>
            <button class="btn btn-sm btn-info disabled"><%= t('profile.friend_request_sent') %></button>
          <% elsif @current_user.friends_with?(@profile.user) %>
            <button class="btn btn-danger btn-sm">Unfriend</button>
          <% elsif @current_user == @profile.user %>
          <% else %>
            <%= button_to ["/users/", @profile.user.id, "/friend_request"].join, class: "btn btn-sm btn-info" do %>
              <%= t('profile.add_friend') %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="col-md-9">
    <div class="col-md-12 bg-white m-t p-b dft-border">
      <h3><%= t('profile.events') %></h3>
      <%= render @events %>
    </div>
  </section>
</div>
