<div id="<%= comment.id %>-comment"class="row">
  <div class="col-md-4 comment-user-info">
    <% profile = comment.user.profile %>
    <%= link_to ['/users/', comment.user.id, '/profile'].join, id: [comment.user.id, '-comment-profile'].join do %>
      <div class="row">
        <div class="comment-thumbnail col-md-6">
          <img src='<%= profile.image_url %>'>
        </div>

        <div class='comment-info col-md-6'>
          <small><%= profile.name %></small>
          <small>
            <%= comment.created_at.to_formatted_s(:short) %>
          </small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-8">
    <% if @current_user == comment.user %>
      <%= button_to 'x', { controller: "comments", action: 'destroy', id: comment.id, event_id: @event.id }, remote: true, method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, class: 'delete-button pull-right' %>
    <% end %>
    <p><%= comment.body %></p>
  </div>

  <div class="col-md-12">
    <hr class='comment-hr'>
  </div>
</div>
