<div id='<%= comment.id %>-comment-div' class='row'>

  <div class='col-md-12'>
    <hr>
  </div>

  <div class='col-md-4 comment-user-info'>
    <% profile = comment.user.profile %>
    <%= link_to ['/users/', comment.user.id, '/profile'].join, id: [comment.user.id, '-comment-profile'].join do %>
      <div class='row'>
        <div class='comment-thumbnail col-md-6'>
          <img src='<%= profile.image_url %>' alt='<%= profile.name %>'>
        </div>

        <div class='comment-info col-md-6'>
          <small><%= profile.name %></small>
          <small>
            <%= comment.created_at.to_formatted_s(:short) %>
          </small>
        </div>
      </div>
    <% end %>
  </div>

  <div id='<%= comment.id %>-comment' class='col-md-8'>
    <ul class='list-unstyled pull-right'>
      <% if can?(:manage, @event) %>
        <li>
          <%= button_to t('event.show.block_user'), { controller: 'users', action: 'update', id: comment.user.id, event_id: @event.id }, method: :put, class: 'btn btn-default btn-sm btn-danger' %>
        </li>
      <% end %>
      <% if @current_user == comment.user || can?(:destroy, comment) %>
        <li>
          <%= button_to 'x', { controller: 'comments', action: 'destroy',
            id: comment.id, event_id: @event.id }, remote: true, method: :delete,
            data: { confirm: 'Are you sure you want to delete this comment?' },
            class: 'comment-button' %>
        </li>
        <li>
          <button id="<%= comment.id %>-comment-edit" class="comment-button">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </li>
      <% end %>
    </ul>
    <p><%= comment.body %></p>
  </div>

  <%= form_for comment, url: comments_path(id: comment.id), html: { class: 'col-md-7 hidden-form', id: "#{comment.id}-edit-box"}, remote: true do |f| %>
    <%= f.text_area :body, class: 'form-control', id: "#{comment.id}-edit_comment_body" %>
    <%= f.submit t('comment.edit.save'), class: 'btn btn-sm btn-default pull-right' %>
  <% end %>

  <script>
    var id = "<%= comment.id %>"
    setClick(id);
  </script>
</div>
