  <li class="row">
    <div><hr><div>
    <div class="col-md-4 event-profile-info">
      <%= link_to user_profile_path(invite.inviter) do %>
        <div class="profile-thumbnail" style="background-image: url(<%= invite.inviter.profile.image_url %>)"></div>
        <p><%= invite.inviter.profile.name %></p>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= link_to invite.event do %>
        <div class="p-l-0 col-md-4">
          <div class="event-thumbnail" style="background-image: url(<%= invite.event.image_url %>)"></div>
        </div>
        <p><%= invite.event.title %></p>
        <p><%= truncate(invite.event.description, length: 180) %></p>
      <% end %>
    </div>

    <div class="col-md-2">
      <%= form_for invite do |f| %>
        <%= f.button t('buttons.accept'), value: 'true', class: "btn btn-sm btn-success btn-block" %>
        <%= f.button t('buttons.decline'), value: 'false', class: "btn btn-sm btn-danger btn-block" %>
      <% end %>
    </div>
  </li>
