<%= link_to event do %>
  <article class="row">
    <div class="col-md-12">
      <hr>
    </div>

    <div class="event-thumbnail col-md-4">
      <img src="<%= event.image_url %>" alt="<%= event.title %> image">
    </div>

    <div class="event-info col-md-8">
      <h4><%= event.title %></h4>
      <small><%= event.location %></small>
      <p><%= event.description %></p>
      <hr class="short-hr">
      <ul class="list-inline tag-list">
        <%= render event.tags %>
      </ul>
    </div>
  </article>
<% end %>
