<article class="row">
  <div class="col-md-12">
    <hr>
  </div>

  <%= link_to event do %>
    <div class="col-md-4">
      <div class="big-event-thumbnail" style="background-image: url(<%= event.image_url %>)"></div>
    </div>
  <% end %>

  <div class="event-info col-md-8">
    <%= link_to event do %>
      <h4><%= event.title %></h4>
      <small><%= event.location %></small>
      <p><%= event.description %></p>
      <hr class="short-hr">
    <% end %>
    <ul class="list-inline tag-list">
      <%= render event.tags %>
    </ul>
  </div>
</article>
