<div class="row" id="new-event-form">

  <%= form_for @event, html: { class: 'col-md-4 col-md-offset-1' } do |f| %>
    <div class="form-group">
      <%= f.label [t('event.new.title'), ':'].join, class: 'h4' %>
      <%= f.text_field :title, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.description'), ':'].join, class: 'h4' %>
      <%= f.text_area :description, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.image'), ':'].join, class: 'h4' %>
      <%= f.text_area :image_url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.country'), ':'].join, class: 'h4' %>
      <%= f.text_field :country, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.city'), ':'].join, class: 'h4' %>
      <%= f.text_field :city, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.postcode'), ':'].join, class: 'h4' %>
      <%= f.text_field :postcode, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.start_date'), ':'].join, class: 'h4' %>
      <%= f.date_select :start_date, { minute_step: 15 } %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.start_time'), ':'].join, class: 'h4' %>
      <%= f.time_select :start_time, { minute_step: 15 } %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.end_date'), ':'].join, class: 'h4' %>
      <%= f.date_select :end_date, { minute_step: 15 } %>
    </div>

    <div class="form-group">
      <%= f.label [t('event.new.end_time'), ':'].join, class: 'h4' %>
      <%= f.time_select :end_time, { minute_step: 15 } %>
    </div>

    <div class="form-group submit">
      <%= f.submit t('event.new.create'), class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
