<div id="show-event" class="row bg-light-grey" data-event-id="<%= @event.id %>">
  <div id="event-image-div" class="col-md-4">
    <div id="event-image">
      <img src="<%= @event.image_url %>">
    </div>
  </div>

  <div id="map" class="col-md-8" data-latitude="<%= @event.latitude %>" data-longitude="<%= @event.longitude %>" data-user-id="<%= @current_user.id if @current_user %>"></div>

  <div class="col-md-4">
    <div id="attending">
      <div class="col-md-12 dft-border bg-white m-t">
        <h3><%= t('event.show.attending') %></h3>
        <hr>
        <div class="row">
          <%= render partial: "user_thumbnail", collection: @attendees %>
        </div>
      </div>
    </div>

    <div id="invited">
      <div class="col-md-12 dft-border bg-white m-t">
        <h3 class="inline"><%= t('event.show.invited') %></h3>
        <% if @current_user %>
          <button id="invite-button" class="btn btn-default btn-sm btn-info pull-right m-t-15"><%= t('event.show.invite') %></button>
        <% end %>
        <hr>
        <div class="row">
          <%= render partial: "user_thumbnail", collection: @invited %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div id="event-info" class="m-t">
      <div class="col-md-12 dft-border bg-white">
        <div id="info">
          <h3><%= @event.title %></h3>
          <hr>
          <p><%= @event.description %></p>
          <hr>
          <% if @event.start_time %>
            <small><%= "#{t('event.show.start')}: #{@event.starting}" %></small><br>
            <small><%= "#{t('event.show.end')}: #{@event.ending}" %></small><br>
          <% end %>
          <small><%= @event.location %></small>
        </div>

        <hr>

        <div id="event-tags">
          <ul id="tag-list" class="list-inline">
            <%= render @event.tags %>
          </ul>
          <% if @current_user == @event.organiser %>
            <button id="new-tag-button" class="btn btn-sm btn-default"><%= t('tag.new') %></button>
          <% end %>
          <%= form_for [@event, Tag.new], html: { id: 'new-tag-form', class: 'hidden-form' }, remote: true do |f| %>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control', placeholder: t('tag.name'), required: true %>
            </div>

            <div class="form-group">
              <%= f.submit t('tag.save'), id: 'tag-submit', class: 'btn btn-default pull-right' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="comments">
      <div class="col-md-12 dft-border bg-white m-t dft-padding">
        <div id="event-comments">
          <h3><%= t('event.show.comments') %></h3>
          <%= render @comments %>
        </div>

        <% if @current_user %>
          <%= form_for [@event, Comment.new], remote: true do |f| %>
            <%= f.hidden_field :user_id, value: @current_user.id %>
            <div class="form-group">
              <%= f.label [t('comment.new'), ':'].join, class: 'h4'  %>
              <%= f.text_area :body, class: 'form-control', placeholder: t('comment.new'), required: true %>
            </div>

            <div class="form-group">
              <%= f.submit t('comment.submit'), id: 'comment-submit', class: 'btn btn-default' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
  </script>
  <script>
    setTag();
    setInviteClick();
  </script>
</div>

