<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Event Project</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/fb45eda159.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class='bg-light-grey'>
  <div id='main-header' class='container-fluid'>
    <header class='row bg-header-green'>
      <h1 class='col-md-6 h3 m-t-10'><%= link_to t('layout.title'), root_path %></h1>
      <nav class='col-md-6' id='main-nav'>
        <ul class='list-inline pull-right'>
          <li class='list-inline-item h4'>
            <% if @current_user %>
              <%= link_to t('layout.home'), "/users/#{@current_user.id}/profile" %>
            <% else %>
              <%= link_to t('layout.home'), root_path %>
            <% end %>
          </li>

          <li class='list-inline-item h4'>
            <%= link_to t('layout.events'), root_path %>
          </li>

          <% if @current_user %>
            <li class='list-inline-item dropdown h4'>
              <button class='dropdown-toggle' type='button' id='dropdownMenu1' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <%= t('layout.options') %>
              </button>

              <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdownMenu1'>
                <li>
                  <%= link_to t('layout.profile'), ['/users/', @current_user.id, '/profile'].join, id: 'profile-link' %></a>
                </li>

                <li>
                  <%= link_to t('layout.edit_profile'), ['/users/', @current_user.id, '/profile/edit'].join %></a>
                </li>

                <hr class='m-v-5'>

                <li>
                  <%= link_to t('layout.new_event'), new_event_path %>
                </li>

                <hr class='m-v-5'>

                <li>
                  <%= link_to t('layout.invite'), ['/users/', @current_user.id, '/invites'].join %>
                </li>

                <li>
                  <%= link_to t('layout.friend_requests'), user_friend_requests_path(@current_user) %>
                </li>

                <hr class='m-v-5'>

                <li>
                  <%= link_to t('layout.log_out'), destroy_user_session_path, method: 'delete' %></a>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="list-inline-item h4">
            <% unless @current_user %>
              <%= link_to t('layout.log_in'), new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>

    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
  </div>

  <div class='container-fluid'>
    <%= yield %>
  </div>
</body>
</html>
